div.container-fluid{
  background-color:  lightcyan;
  height: 100%;
}

.divContainer{
  margin-bottom:7vh;
  width: 98%; 
  margin-left: 1vw; 
  border-radius: 10px;
}

.divFav{
  width: 98%; 
  height: 100vh;
  margin-left: 1vw; 
  margin-bottom:7vh;
  border-radius: 10px;
}

table {
  margin-top: 3vh;
    width: 100%;
    background: transparent;
  } 
  tr{
    transition: 0.2s all linear;
  } 
  tr:hover{
    background-color: lightyellow;
  }

  .favourites{
    font-size: 28px;
    cursor: pointer;
    transition: all 0.1s linear;
  }

  .favourites:hover{
    color: crimson;
  }
  
  .price{
    font-size: 32px;
    cursor: pointer;
    transition: all 0.1s linear;
  }
  .price:hover{
    color: lightcoral;
  }

@media only screen and (max-width: 499px){
  .mat-column-symbol{
    display: none;
  }

  .mat-column-select{
    font-size: 11px;
  }

  .mat-column-name{
    font-size: 11px;
  }

  .mat-column-price{
    font-size: 11px;
  }

  .mat-column-market_cap{
    font-size: 11px;
  }

  .favourites{
    font-size: 20px;
  }

  .price{
    font-size: 24px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 576px){
  .mat-column-symbol{
    display: none;
  }
}