<div id="particles-js" style="position: absolute; width: 100vw; height: 99vh; z-index: -10;"></div>

<div class="container-fluid">
  <div class="row">

    <div class="col d-flex align-items-center text-center" id="imgContainer">
      <h1><span id="crypto">$Crypto</span> Currency List</h1>
      <p>"Consider Comparing Before Buying"</p>
      <a id="learn" routerLink="/list" class="btn">Learn More</a>
    </div>

    <footer class="col text-center" style="position: absolute; bottom: 0;">
      <span style="font-size: 1rem;">&copy; Designed and Developed by <b>Himanshu Dwivedi</b></span>
      <ul class="social">
        <li>
          <a href="https://github.com/himanshudwivediec2014" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/himanshu-dwivedi-a48191107/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/himanshu.dwivedi.9" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/himanshudwivedi96/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </footer>
  </div>
</div>